%article
  %header
    %h2
      Sign in
    %p.meta
      %strong Forgot your password?
      &mdash;
      = link_to 'Reset it here!', new_password_path(:user)

  %section.form
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|

      %label.email
        %span.label Your email address
        = f.email_field :email, placeholder: "Your email address"

      %label.password
        %span.label Your password
        = f.password_field :password, placeholder: "Your password"

      %button(type="submit")>
        %span>
        Sign up

  %section.oauth
    = render "registrations/oauth"

  %p.divider
    %strong
      Or
    = link_to new_registration_path(:user, anchor: "sign-up"), class: "reveal", title: "Create a new account" do
      Create a new account
