%article
  %header
    %h2
      Sign in

  %section.form
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|

      %label.email
        %span.label Your email address
        = f.email_field :email, autofocus: true, placeholder: "Your email address"

      %label.password
        %span.label Your password
        = f.password_field :password, placeholder: "Your password"

      %button{ type: "submit" }>
        Sign in

    %p.divider
      %span or

    = render "registrations/oauth", resource: resource

    %p.info
      = succeed '.' do
        Otherwise
        = link_to new_registration_path(:user), title: "Create a new account" do
          create a new account
        or
        = link_to new_password_path(:user), title: "Reset your password" do
          reset your password
