#footer
  %nav
    :markdown
      * [#{t "footer_nav.about.label"}](# '#{t "footer_nav.about.title"}')
      * [#{t "footer_nav.policy.label"}](# '#{t "footer_nav.policy.title"}')
      * [#{t "footer_nav.main_site.label"}](#{t "footer_nav.main_site.link"} '#{t "footer_nav.main_site.title"}')
