%header#header

  = render partial: "partials/notifications"

  - if current_user
    %nav.user-nav
      %ul
        %li
          = link_to t("user_nav.account.label"), edit_user_registration_path, title: t("user_nav.account.title")
        %li
          = link_to t("user_nav.logout.label"), destroy_user_session_path, title: t("user_nav.logout.title"), method: "delete"
  - else
    %nav.user-nav
      %ul
        %li
          = link_to t("user_nav.login.label"), new_user_session_path, title: t("user_nav.login.title")
        %li
          = link_to t("user_nav.register.label"), new_user_registration_path, title: t("user_nav.register.title")

  -# the logo, link home
  %h1
    = link_to "/" do
      = image_tag "header/logo_small.png", :alt => "Eurucamp Activities"
