- domain ||= "new"

.oauth
  %ul
    %li
      - if resource.connected_with_github?
        = link_to "http://github.com/#{resource.github_handle}", class: "github connected" do
          = image_tag "user/connected.png"
          %h4
            = t("user.#{domain}.oauth.github.connected").html_safe
      - else
        = link_to "/auth/github", class: "github" do
          = image_tag "user/github.png"
          %h4
            = t("user.#{domain}.oauth.github.connect").html_safe

    %li
      - if resource.connected_with_twitter?
        = link_to "http://twitter.com/#{resource.twitter_handle}", class: "twitter connected" do
          = image_tag "user/connected.png"
          %h4
            = t("user.#{domain}.oauth.twitter.connected").html_safe
      - else
        = link_to "/auth/twitter", class: "twitter" do
          = image_tag "user/twitter.png"
          %h4
            = t("user.#{domain}.oauth.twitter.connect").html_safe
