%h1 Edit profile

.profile
  = simple_form_for @user, :url => registration_path(resource_name) do |f|
    = f.error_notification
    = devise_error_messages!

    .inputs
      = f.input :name, :hint => "Your name or nick"
      = f.input :email

      - if @user.no_oauth_connected?
        = f.input :password, :required => true
        = f.input :password_confirmation, :required => true
        = f.input :current_password, :required => true

    .actions
      = f.button :submit, class: 'btn btn-info'
