%article
  %header
    %h2
      Edit profile

  %section.form
    = form_for resource, as: resource_name, url: registration_path(resource_name) do |f|

      %figure.avatar
        = image_tag(avatar_url(@user, 128))

      %label.name
        %span.label Your (user) name
        = f.text_field :name, placeholder: "Your name"

      %label.email
        %span.label Your email address
        = f.email_field :email, placeholder: "Your email address"

      %label.inline.show_participation
        = f.check_box :show_participation
        Show participations publicly?

      - if resource.no_oauth_connected?
        %label.password
          %span.label Your password
          = f.password_field :password, placeholder: "Your password"

        %label.password
          %span.label Your password once more
          = f.password_field :password_confirmation, placeholder: "Your password once more"

      %button{ type: "submit" }>
        Update

      %p.divider
        %span Connect!

      = render "oauth", resource: resource, domain: "edit"
