%article
  %header
    %h2
      Register
    %p.meta
      %strong Have an account already?
      &mdash;
      = link_to 'Sign in!', new_session_path(:user)

  = render "registrations/oauth"

  %section.form
    %p.divider
      %strong
        Or

    %a.reveal(href="#sign-up" title="Create a new account")
      Create a new account

    - if resource.errors.any?
      - style = "display: block"
      :javascript
        window.location.hash = "sign-up";

    = form_for resource, as: resource_name, url: registration_path(resource_name), html: { id: "sign-up", style: style } do |f|
      %h4 Register new account

      %label.name
        %span.label Name
        = f.text_field :name, autofocus: true, placeholder: "Name"

      %label.email
        %span.label Email address
        = f.email_field :email, placeholder: "Email address"

      - if @user.password_required?
        %label.password
          %span.label Password
          = f.password_field :password, placeholder: "Password"

        %label.password
          %span.label Password, once more
          = f.password_field :password_confirmation, placeholder: "Password once more"

        %button(type="submit")>
          %span>
          Sign up
