- type = activity.relation_ship_with(current_user)

%li(id="activity-#{activity.id}" class="#{activity.css_classes}")
  .container

    = render "activities/progress", activity: activity

    .labels
      %h4
        = activity.name
      %p.creator
        = activity.creator_name
      %p.time
        = activity.time.html_safe

    = render "activities/action", activity: activity, type: type, remote: true

    %a.details(href="#{activity_path(activity)}" title="#{activity.name}")
      %span
        = t("activities.more_info.label")
    - unless type == 'default'
      %span.icon
