- type = activity.relation_ship_with(current_user)

%li(id="activity-#{activity.id}" class="#{type} #{activity.status}")
  .container

    = image_tag "dummies/activity.jpg", alt: activity.name, class: "progress", data: { progress: activity.full_by }

    .labels
      %h4
        = activity.name
      %p.creator
        = activity.creator_name
      %p.time
        = activity.time.html_safe

    .action
      - case type
      - when "owner"
        = link_to edit_activity_path(activity), title: t("activities.edit.title") do
          %span
          = t("activities.edit.label")
      - when "participant"
        = button_to activity_participation_path(activity), method: :delete, remote: true, title: t("activities.leave.title") do
          %span
          = t("activities.leave.label")
      - else
        = button_to activity_participation_path(activity), method: :post, remote: true, title: t("activities.join.title") do
          %span
          = t("activities.join.label")

    %a.details(href="#{activity_path(activity)}" title="#{ t("activities.more_info.title") }")
      %span
        = t("activities.more_info.label")
    - unless type == 'default'
      %span.icon
