- type = activity.relation_ship_with(current_user)

%li(id="activity-#{activity.id}" class="#{type} #{activity.status}")
  .container

    = image_tag "dummies/activity.jpg", alt: activity.name, class: "progress", data: { progress: activity.full_by }

    .labels
      %h4
        = activity.name
      %p.creator
        = activity.creator_name
      %p.time
        = activity.time.html_safe

    = render "action", :activity => activity, :type => type

    %a.details(href="#{activity_path(activity)}" title="#{ t("activities.more_info.title") }")
      %span
        = t("activities.more_info.label")
    - unless type == 'default'
      %span.icon
