= form_for @activity, html: { id: "new-activity" } do |f|

  %label.name
    = f.text_field :name, placeholder: "Give your activity a name", class: "title"

  %hr

  - fancy_datime_select f, :start_time, @activity

  %span.divider>
    &ndash;

  - fancy_datime_select f, :end_time, @activity

  %fieldset.anytime
    %span.between or
    %label.inline
      = f.check_box :anytime
      Without a specific date/time

  %label.location>
    = f.text_field :location, placeholder: "Location"
    %small Where does your activity take place, where to meet, …

  %label.limit-of-participants>
    = f.number_field :limit_of_participants, placeholder: "5"
    %small Max. participants

  %label.requirements
    = f.text_area :requirements, placeholder: "Requirements", rows: 6, class: "markdown"
    %small What to bring, to wear etc.

  %label.description
    = f.text_area :description, placeholder: "Description", rows: 8, class: "markdown"
    %small Background information, links, etc.

  %label.image-url
    = f.url_field :image_url, placeholder: "URL for an image"
    %small Upload an image to e.g. imgur.com and link it here

  %button(type="submit")>
    %span>
    Save
