%form.filters(action=activities_path method="GET" id="activities-filter")
  %label>
    = radio_button_tag "filter", "today", params[:filter] == "today", class: "radio"
    = t("activities.filters.today")
    %strong
      = @counters[:today]
  %label.all.selected>
    = radio_button_tag "filter", "all", params[:filter] == "all" || params[:filter].nil?, class: "radio"
    = t("activities.filters.all")
    %strong
      = @counters[:all]
  %label.participant>
    = radio_button_tag "filter", "participant", params[:filter] == "participant", class: "radio"
    = t("activities.filters.participant")
    %strong
      = @counters[:participant]
  %label.owner>
    = radio_button_tag "filter", "owner", params[:filter] == "owner", class: "radio"
    = t("activities.filters.owner")
    %strong
      = @counters[:owner]
  %label.search
    %input(type="text" name="search" placeholder="#{ t("activities.search.placeholder") }" value="#{ params[:search] }")
  %button(type="submit")
    = t("activities.filters.submit")

%a#new-activity(href="#{ new_activity_path }" title="#{ t("activities.new.title") }")
  %span
  = t("activities.new.label")

%ul#activities
  = render @activities.decorate

.map
  %h3 The eurucamp week
  %iframe(src="http://mapsengine.google.com/map/u/0/embed?mid=zddEY5tddvgw.kv-7qKkgMPrg" width="100%" height="100%")
