%article.page-section.page-section--sub-page
  .page-section__wrapper
    .page-section__image
      = image_tag "activities/activities.svg", class: "page-section__image--vertical"
      -#= image_tag "activities/activities_mobile.svg", class: "page-section__image--horizontal"
    .page-section__inner

      %form.filters(action=activities_path method="GET" id="activities-filter")
        %label>
          = radio_button_tag "filter", "today", params[:filter] == "today", class: "radio"
          = t("activities.filters.today")
          %strong
            = @counters[:today]
        %label.all.selected>
          = radio_button_tag "filter", "all", params[:filter] == "all" || params[:filter].nil?, class: "radio"
          = t("activities.filters.all")
          %strong
            = @counters[:all]
        %label.participant>
          = radio_button_tag "filter", "participant", params[:filter] == "participant", class: "radio"
          = t("activities.filters.participant")
          %strong
            = @counters[:participant]
        %label.owner>
          = radio_button_tag "filter", "owner", params[:filter] == "owner", class: "radio"
          = t("activities.filters.owner")
          %strong
            = @counters[:owner]
        %label.search
          %input(type="text" name="search" placeholder="#{ t("activities.search.placeholder") }" value="#{ params[:search] }")
        %button(type="submit")
          = t("activities.filters.submit")

      %a#new-activity(href="#{ new_activity_path }" title="#{ t("activities.new.title") }")
        %span
        = t("activities.new.label")

      %section
        - @activities_per_day.each do |day, activities|
          = render 'activity_day', day: day, activities: activities
