%article#activity
  %header
    %h2
      = @activity.name
    %p.meta
      = t("activities.organized_by", name: @activity.creator_name).html_safe

    = render "action", activity: @activity, type: @activity.relation_ship_with(current_user), remote: false

    - if @activity.relation_ship_with(current_user) == 'owner'
      %p.info
        Please consider adding this activity to our
        = succeed "." do
          %a(href="https://mapsengine.google.com/map/edit?mid=zddEY5tddvgw.kv-7qKkgMPrg" title="Edit the map") eurucamp week map
        %br
        If you’re running a website related to this activity show some eurucamp pride with the
        %a(href="https://gist.github.com/polarblau/6172669" title="Get the bar") eurucamp week browser bar!

  %section.description
    .wrapper
      = @activity.description_markdown

      - unless @activity.requirements.empty?
        %h4
          = t("activities.required")
        = @activity.requirements_markdown

  %section.overview
    = render "activities/progress", activity: @activity
    %p
      = @activity.room_left
    - if @activity.participants.any?
      %p
        %a.participants(href="#" title="")
          %span
            = t("activities.participants")

  %section.details
    %dl.wrapper
      - if @activity.anytime?
        %dt
          = t("activities.time_and_date")
        %dd
          = t("activities.anytime")
      - else
        %dt
          = t("activities.start.label_short")
        %dd
          = l(@activity.start_time, format: :nice_date_and_time)
        %dt
          = t("activities.end.label_short")
        %dd
          = l(@activity.end_time, format: :nice_date_and_time)
      %dt
        = t("activities.location")
      %dd
        = @activity.location

  - if @activity.participants.any?
    %section.participants
      %h3
        = t("activities.participants")
      %ul
        - @activity.participants.each do |participant|
          %li(title="#{ participant.name }")>
            = image_tag(avatar_url(participant, 48))
