%article#activity
  %header
    %h2
      = @activity.name
    %p
      Organized by
      %strong= @activity.creator_name

    .action
      - case @activity.relation_ship_with(current_user)
      - when "owner"
        = link_to edit_activity_path(@activity), title: t("activities.edit.title") do
          %span
          = t("activities.edit.label")
      - when "participant"
        = button_to activity_participation_path(@activity), method: :delete, remote: true, title: t("activities.leave.title") do
          %span
          = t("activities.leave.label")
      - else
        = button_to activity_participation_path(@activity), method: :post, remote: true, title: t("activities.join.title") do
          %span
          = t("activities.join.label")

  %section.description
    .wrapper
      = @activity.description_markdown

  %section.overview
    %figure
      = image_tag @activity.image_url, alt: @activity.name, class: "progress", data: { progress: @activity.full_by }
    %p
      = @activity.room_left
      %a.participants(href="#" title="")
        %span
          Participants

  %section.details
    %dl.wrapper
      - if @activity.anytime?
        %dt
          Time &amp; Date
        %dd
          Anytime
      - else
        %dt
          Start
        %dd
          = l(@activity.start_time, format: :long)
        %dt
          End
        %dd
          = l(@activity.end_time, format: :long)
      %dt
        Location
      %dd
        = @activity.location
      %dt
        Required
      %dd
        = @activity.requirements

