!!!
- html_tag :class => "no-js" do
  %head
    %title= title("Eurucamp Activities")
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body(class=body_class)
    = render "partials/chrome_frame"

    = yield
