!!!
- html_tag :lang => 'en', :class => "no-js" do
  %head
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %title= title("Eurucamp Activities")
    %meta(content="" name="description")
    %meta(content="" name="author")
    %meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport")

    = csrf_meta_tags

    = stylesheet_link_tag    "application"
    = javascript_include_tag "modernizr.min"

    = javascript_include_tag "//use.typekit.net/vor5lqb.js"
    :javascript
      try{Typekit.load();}catch(e){}
      // TODO: partial
      var App = {
        paths: {
          login: '#{new_user_session_path}'
        },
        event: {
          name: '#{current_event.name}',
          startTime: #{current_event.start_time.to_i * 1000},
          endTime: #{current_event.end_time.to_i * 1000}
        }
      };

  %body(class="#{ body_class(controller.action_name) }")
    = render "partials/chrome_frame"
    = render "partials/notifications"
    #container
      = render "partials/header"
      #main(role="main")
        = yield
      = render "partials/footer"
    = javascript_include_tag "application"
