!!!
- html_tag :class => "no-js" do
  %head
    %title= title("Eurucamp Activities")
    = stylesheet_link_tag    "application"
    = javascript_include_tag "modernizr.min"

    = javascript_include_tag "//use.typekit.net/vor5lqb.js"
    :javascript
      try{Typekit.load();}catch(e){}

  %body(class=body_class)
    = render "partials/chrome_frame"

    = yield

    = javascript_include_tag "application"
