!!!
- html_tag :lang => 'en', :class => "no-js" do
  %head
    = render "partials/layout_head"
    = render "partials/preinitializers"

  %body(class="user #{ body_class(controller.action_name) }")
    = render "partials/notifications"
    #container
      %header#header.page-header
        = render "partials/navigation"

      #main(role="main")
        = yield
      = render "partials/footer"
    = javascript_include_tag "application"
